* {
  box-sizing: border-box;
}

#target {
  background-color: rgb(255, 225, 240);
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-box {
  background-color: greenyellow;
  height: 90%;
  width: 700px;
  max-width: 750px;
}

.main-box__top {

}

.main-box__top__fist-character {
  display: flex;
  height: 80px;
}

.main-box__top__fist-character__icon {
  position:relative;
  top: 10px;
  left: 10px;
}
.icon{
  width:70px;
  border: 2px solid rgb(253, 40, 157);
  border-radius: 100vw;
  
  position: absolute;
}

.main-box__top__first-character__word{
  position: absolute;
  left:75px;
  top:-5px;
  font-size: 70px;
  color: gray;
  font-family: 'arial unicode ms';
  font-weight: 900;
  transform: scale(0.8, 1);
}

.main-box__explanation{
  padding: 0 80px;
}

.main-box__explanation__title{
  color:red;
  font-size: 24px;
  font-weight: 600;
}

.main-box__explanation__mean{
  padding: 0 10px;
  /* letter-spacing: 0.1em; */
  line-height: 1.2em;
}






/* ラベル */

.main-box__word-adventure{
  padding-top:15px;
}
.main-box__word-adventure__label{
  position: relative;
  margin-bottom: 60px;
}
.label{
  width:235px;
  position: absolute;
  padding-left: 10px;
  
}
.label-word {
  position: absolute;
  left :45px;
  top : -1px;
  color: white;
  font-size: 24px;
  transform: scale(0.8, 1);
  font-weight: 900;

}
.label-phonation{
  position: absolute;
  left :45px;
  top:27px;
  transform: scale(0.8, 1);
  color: white;
}

.adventure-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 400px;
  width: 600px;
  border: 1px solid red;
}

.main-box__word-adventure__image-box__explanation{
  text-align: center;
}
.main-box__word-adventure__image-box__explanation-mean{
  text-align: center;
}
.main-box__word-adventure__image-box__explanation-mean b{
  color: red;
  /* padding-right: 10px; */
  font-size: 18px;
}

.red-word{

}
.name-icon{
  width: 22px;
  top:4px;
  position: relative;
  margin: 0 5px 0 20px;
}
.name-word{
  display: inline-block;
  text-align: center;
}



.main-box__word-adventure__memo-box{
  padding-left: 30px;
  position: relative;
  top: -10px;

}
.main-box__word-adventure__memo-box__title{
  font-size: 22px;
  font-weight: 600;
  /* background-color: red; */
  display: inline-block;
  width: 112px;
  height: 30px;
  background-color: red;
  position: relative;
  border-radius: 5px 4px 0px 0px;
  padding: 0 8px 0 15px;
}
.main-box__word-adventure__memo-box__title::after{
  content: "";
  position:absolute;
  border-style: solid;
  border-color: transparent transparent red red;
  border-width: 15px 8px 15px 8px;
  /* padding-left: 10px; */
  left: 110px;
  /* border-radius: 10px 10px 0px 0px; */
}
