* {
  box-sizing       : border-box;
}

body {
  background-color : rgb(255, 225, 240);
  height           : 100%;
  margin           : 0;
  width            : 100%;
}
.main-box {
  background-color : white;
  border-radius    : 10px 0 0 10px;
  height           : 100%;
  margin           : 30px 0 30px 20px;
  max-width        : 700px;
  padding          : 15px 0px;
  width            : 700px;
}


/* ad- 〜 adventureラベルまで  */
.main-box__top__fist-character {
  display          : flex;
  height           : 80px;
}
.main-box__top__fist-character__icon {
  left             : 10px;
  position         : relative;
  top              : 10px;
}
.fist-character-icon{
  border           : 2px solid rgb(255, 40, 160);
  border-radius    : 100vw;
  width            : 70px;
}
.main-box__top__first-character__word{
  padding-left     : 10px;
  font-size        : 70px;
  color            : gray;
  font-family      : 'arial unicode ms';
  font-weight      : 900;
  transform        : scale(0.8, 1);
  line-height      : 80px;
}

.main-box__explanation{
  padding          : 5px 70px 0 70px;
}
.main-box__explanation__title{
  color            : rgb(255, 0, 130);
  font-size        : 22px;
  font-weight      : 600;
}
.main-box__explanation__mean{
  padding-left     : 15px;
  line-height      : 1.2em;
  font-size        : 16px;
}


/* adventureラベル 〜 点線まで */
.main-box__word-adventure{
  padding-top      : 15px;
}
.main-box__word-adventure__label{
  margin-bottom    : 60px;
  position         : relative;
}
.adventure-label{
  padding-left     : 10px;
  position         : absolute;
  width            : 235px;
}
.adventure-word {
  color            : white;
  font-size        : 24px;
  font-weight      : 900;
  left             : 45px;
  position         : absolute;
  top              : -1px;
  transform        : scale(0.8, 1);
}
.adventure-phonation{
  color            : white;
  left             : 45px;
  position         : absolute;
  top              : 27px;
  transform        : scale(0.8, 1);
}

.adventure-img {
  border           : 1px solid red;
  display          : flex;
  height           : 400px;
  justify-content  : center;
  margin           : 0 auto;
  width            : 600px;
}

.main-box__word-adventure__image-box__explanation{
  font-size        : 13.5px;
  text-align       : center;
}
.main-box__word-adventure__image-box__explanation-mean{
  text-align       : center;
  font-size        : 13.5px;
}
.main-box__word-adventure__image-box__explanation-mean b{
  color            : rgb(255, 0, 130);
  font-size        : 15px;
}
.name-icon{
  width            : 18px;
  top              : 4px;
  position         : relative;
  margin           : 0 5px 0 20px;
}

.main-box__word-adventure__memo-box{
  padding          : 0 70px 20px 30px;
  position         : relative;
  top              : -10px;
}
.main-box__word-adventure__memo-box__title{
  background-color : rgb(255, 170, 225);
  border-radius    : 5px 5px 0px 0px;
  display          : inline-block;
  font-size        : 18px;
  font-weight      : 600;
  height           : 26px;
  padding          : 0px 8px;
  position         : relative;
  width            : 90px;
}
.main-box__word-adventure__memo-box__title::after{
  border-color     : transparent transparent rgb(255, 170, 225) rgb(255, 170, 225);
  border-style     : solid;
  border-radius    : 10px 10px 0 0;
  border-width     : 13px 8px 13px 8px;
  content          : "";
  left             : 88px;
  position         : absolute;
}

.main-box__word-adventure__memo-box__explanation {
  background-color : rgb(235, 235, 235);
  height           : 70px;
  padding          : 10px;
}
.main-box__word-adventure__memo-box__explanation::after {
  border-bottom    : dashed 2px rgb(200, 200, 200);
  bottom           : -15px;
  content          : " ";
  display          : block;
  padding          : 10px;
  position         : relative;
  right            : 10px;
  width            : 100%;
}
